html {
  background-color: #DFFBFF;
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #282828;
    color: #ECECEC;
  }
  a {
    color: #409CFF;
  }
  a:visited {
    color: #C58AF9;
  }
}

.left {
  text-align: left;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.description {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.button1, .button1:visited {
  display: block;
  margin: 15px auto;
  font-family: Arial;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  background-color: #F9F9FB;
  color: #333333;
  border: 5px solid #acc2c6;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
}
.button2, .button2:visited {
  display: inline-block;
  font-family: Arial;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  background-color: #F9F9FB;
  color: #333333;
  border: 4px solid #acc2c6;
  padding: 2px 5px;
  border-radius: 10px;
  min-width: 90px;
}
.button2:hover {
  font-weight: bold;
}
.button3, .button3:visited {
  display: inline-block;
  font-family: Arial;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background-color: #F9F9FB;
  color: #333333;
  border: 4px solid #acc2c6;
  padding: 2px 5px;
  border-radius: 10px;
  min-width: 90px;
}
.button1:hover, .button3:hover {
  color: #7A898D;
}
.table1 {
  border-spacing: 2em 2px;
  margin-left: auto;
  margin-right: auto;
}
.table2 {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  margin-bottom: 5px;
}
input + span {
  position: relative;
}
input + span::before {
  position: absolute;
  right: -20px;
}
input:invalid + span::before {
  content: "✖";
  color: red;
}
input:valid + span::before {
  content: "✓";
  color: green;
}